<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="register-container">
    <h2>Crear Cuenta</h2>
    <p>Completa los campos para registrarte</p>

    <form #registerForm="ngForm" (ngSubmit)="register()">
      <!-- Nombre -->
      <ion-item class="input-field">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-input [(ngModel)]="nombre" name="nombre" type="text" placeholder="Nombre" required></ion-input>
      </ion-item>

      <!-- Correo Electrónico -->
      <ion-item class="input-field">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-input [(ngModel)]="email" name="email" type="email" placeholder="Correo Electrónico" required></ion-input>
      </ion-item>

      <!-- Contraseña -->
      <ion-item class="input-field">
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Contraseña" required></ion-input>
      </ion-item>

      <!-- Confirmar Contraseña -->
      <ion-item class="input-field">
        <ion-icon slot="start" name="key-outline"></ion-icon>
        <ion-input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" placeholder="Confirmar Contraseña" required></ion-input>
      </ion-item>

      <ion-button  type="submit" [disabled]="loading">
        <ion-spinner *ngIf="loading"></ion-spinner>
        <span *ngIf="!loading" class="no-transform">Registrarse</span>
      </ion-button>

      <p class="register-link">
        ¿Ya tienes cuenta? <a (click)="goToLogin()" class="rea">Inicia sesión</a>
      </p>

      <div class="error-message" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</ion-content>

<ion-footer>
  <p class="footer-text">© 2025 MPA Seguridad Inteligente</p>
</ion-footer>