<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <ion-img src="/assets/MPA.jpg" class="logo"></ion-img>

    <h2>Crear Cuenta</h2>
    <p>Completa los campos para registrarte</p>

    <ion-item class="input-field">
      <ion-label position="floating">👤 Nombre</ion-label>
      <ion-input [(ngModel)]="nombre" type="text" required></ion-input>
    </ion-item>

    <ion-item class="input-field">
      <ion-label position="floating">📧 Correo Electrónico</ion-label>
      <ion-input [(ngModel)]="correo" type="email" required></ion-input>
    </ion-item>

    <ion-item class="input-field">
      <ion-label position="floating">👥 Usuario</ion-label>
      <ion-input [(ngModel)]="username" type="text" required></ion-input>
    </ion-item>

    <ion-item class="input-field">
      <ion-label position="floating">🔒 Contraseña</ion-label>
      <ion-input [(ngModel)]="password" type="password" required></ion-input>
    </ion-item>

    <ion-item class="input-field">
      <ion-label position="floating">🔑 Confirmar Contraseña</ion-label>
      <ion-input [(ngModel)]="confirmPassword" type="password" required></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="register()">Registrarse</ion-button>

    <p class="register-link">
      ¿Ya tienes cuenta? <a (click)="router.navigate(['/login'])" class="rea">Inicia sesión</a>
    </p>

    <div class="error-message" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </div>
</ion-content>
