.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
  color: black;
}

p {
  font-size: 1rem;
  color: black;
  margin-bottom: 15px;
}

.input-field {
  width: 100%;
  max-width: 450px;
  margin-bottom: 15px;
  border-radius: 5px;
  --background: white;
  color: black;
  border: 1px solid black;
  height: 45px;
  font-size: 1rem;
}

/* Ajuste de tamaño y color para los iconos */
.input-field ion-icon {
  font-size: 1.4rem;
  color: black;
  margin-right: 10px;
}

ion-button {
  width: 100%;
  max-width: 450px;
  margin-top: 10px;
  border-radius: 10px;
  --background: #247E3E;
  height: 45px;
}

.register-link {
  font-size: 0.9rem;
  margin-top: 10px;
  color: black;
}

.register-link a {
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: #247E3E;
}

.error-message {
  color: var(--ion-color-danger);
  margin-top: 10px;
  font-size: 0.9rem;
  background: rgba(255, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--ion-color-danger);
  width: 100%;
  max-width: 450px;
  text-align: center;
}

ion-content {
  --background: white;
}

ion-toolbar {
  --background: #247E3E;
  --color: white;
}

ion-footer {
  background: #247E3E;
  text-align: center;
  padding: 10px;
}

.footer-text {
  color: white;
  font-size: 0.9rem;
  margin: 0;
}


@media (max-width: 600px) {
  .register-container {
    padding: 10px; 
  }

  h2 {
    font-size: 1.1rem; 
  }

  p {
    font-size: 0.9rem; 
  }

  .input-field,
  ion-button,
  .error-message {
    max-width: 300px; 
  }

  .input-field {
    min-height: 45px;
    font-size: 1.1rem; 
  }

  ion-button {
    height: 50px;
    font-size: 0.9rem; 
  }

  .register-link {
    font-size: 0.8rem; 
  }
  
  ion-footer {
    padding: 8px; 
  }

  .footer-text {
    font-size: 0.8rem; 
  }
}


@media (max-width: 768px) {
  .register-container {
    padding: 15px;
  }

  h2 {
    font-size: 1.2rem; 
  }

  .input-field,
  ion-button,
  .error-message {
    max-width: 350px; 
  }

  .input-field {
    min-height: 45px;
    font-size: 1rem; 
  }

  ion-button {
    height: 45px;
    font-size: 1rem;
  }

  .register-link {
    font-size: 0.9rem; 
  }
}

