<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- Usar el pipe correctamente en el texto -->
    <ion-title>{{ 'CONOCENOS' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Flip Container Section -->
  <section class="flip-container-section">
    <div class="flip-container">
      <div class="flipper">
        <!-- Lado frontal -->
        <div class="front">
          {{ 'MPA' | translate }} <ion-icon name="shield-checkmark-outline"></ion-icon>
        </div>
        <!-- Lado trasero -->
        <div class="back">
          <strong></strong>
          <p>{{ 'MPA_DESCRIPTION' | translate }}</p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="mision-vision">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title style="text-align: center; font-size: 1.5rem;"></ion-card-title>
        <ion-card-title style="text-align: center; font-size: 1.5rem; color:white;">{{ 'MISION' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content style="text-align: center;">
        <p>{{ 'MISION_DESCRIPTION' | translate }}</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="card">
      <ion-card-header>
        <ion-card-title style="text-align: center; font-size: 1.5rem;"></ion-card-title>
        <ion-card-title style="text-align: center; font-size: 1.5rem; color:white;">{{ 'VISION' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content style="text-align: center;">
        <p>{{ 'VISION_DESCRIPTION' | translate }}</p>
      </ion-card-content>
    </ion-card>
  </section>

  <section class="nosotros">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title style="text-align: center; font-size: 1.5rem;"></ion-card-title>
        <ion-card-title style="text-align: center; font-size: 1.5rem; color: white;">{{ 'QUIENES_SOMOS' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content style="text-align: center;">
        <p>{{ 'QUIENES_SOMOS_DESCRIPTION' | translate }}</p>
      </ion-card-content>
    </ion-card>
  </section>

</ion-content>

<ion-footer>
  <p class="footer-text">{{ 'FOOTER_TEXT' | translate }}</p>
</ion-footer>
