/* Usando tus variables definidas en variables.scss */
ion-header {
  background-color: var(--ion-color-primary);
}

ion-toolbar {
  --background: var(--ion-color-primary);
  --color: white;
}

ion-content{
  --background: var(--app-background);
  --color: var(--app-text-color);
}


ion-title {
  --color: white;
  font-size: 24px;
}

/* Contenedor con animación de giro */
.flip-container {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 320px;
  height: 160px;
}

.flipper {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  position: relative;
}

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: var(--app-shadow);
  text-align: center;
  padding: 10px;
}

.front {
  background-color: var(--ion-color-primary);
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front ion-icon {
  font-size: 30px;
  margin-left: 10px;
}

.back {
  --background-color: var(--app-card);
  color: var(--app-text-color);
  font-size: 16px;
  transform: rotateY(180deg);
  border: 2px solid var(--ion-color-primary);
  box-shadow: var(--app-shadow);
}

/* Otros estilos */
.intro {
  padding: 20px;
  text-align: center;
  background-color: var(--app-background);
}

.mision-vision {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  background-color: var(--app-background);
}

.card {
  width: 48%;
  margin: 10px 0;
  border-radius: 12px;
  box-shadow: var(--app-shadow);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: var(--app-card-background);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.mision-vision .card ion-card-title,
.nosotros .card ion-card-title {
  font-size: 20px;
  color: white;
}

.mision-vision .card ion-card-content,
.nosotros .card ion-card-content {
  font-size: 16px;
  color: var(--app-text-color);
  --background-color: var(--app-card);

}

.nosotros {
  padding: 40px 20px;
  text-align: center;
  background-color: var(--app-background);
  display: flex;
  justify-content: center;
}

.card.nosotros-card {
  width: 80%;
}

.card ion-card-header {
  background-color: var(--ion-color-primary); 
  color: white;
  border-radius: 12px 12px 0 0;
}

.card ion-card-title {
  font-size: 20px;
  --color:white; 
}


ion-footer {
  background: var(--ion-color-primary);
  text-align: center;
  padding: 10px;
}

.footer-text {
  color: white;
  font-size: 0.9rem;
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

