<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'PERFIL' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<style>
  p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
}
</style>

<ion-content class="ion-padding">
  <div class="profile-container">
    <!-- Perfil del usuario -->
    <ion-card class="profile-card">
      <div class="card-glassmorphism">
        <ion-card-header>
          <div class="icon-container admin-bg">
            <ion-icon name="person-circle-outline"></ion-icon>
          </div>
          <div class="user-info">
            <ion-card-title>{{ username }}</ion-card-title> <!-- Nombre del usuario -->
            <p class="user-type admin">{{ tipoUsuario }}</p> <!-- Tipo de usuario -->
            <p><ion-icon name="mail" class="email" style="color:#247E3E;"></ion-icon>{{correoElectronico}}</p>
          </div>
        </ion-card-header>
        <ion-card-content>
          <!-- Botones de Cerrar Sesión y Editar Perfil -->
          <ion-button expand="full" class="edit" (click)="abrirModal()">Editar Perfil</ion-button>
          <ion-button expand="full" class="logout" (click)="logout()">Cerrar Sesión</ion-button>
        </ion-card-content>
      </div>
    </ion-card>
  </div>

  <!-- Modal para editar el perfil -->
  <ion-modal [isOpen]="modalOpen" (willDismiss)="cerrarModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Editar Perfil</ion-title>
          
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <form (submit)="guardarCambios()" class="">
          <ion-item>
            <ion-label position="floating" class="label-white">Nombre de Usuario</ion-label>
            <ion-input [(ngModel)]="nuevoNombreUsuario" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" class="label-white">Nueva Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="nuevaContrasena"></ion-input>
          </ion-item>
          <ion-button type="submit" class="gc" expand="full">Guardar Cambios</ion-button>
          <ion-button (click)="cerrarModal()" slot="end" class="close" expand="full">Cerrar</ion-button>

        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
<ion-footer>
  <p class="footer-text">© 2025 MPA Seguridad Inteligente</p>
</ion-footer>
