  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Configuracion</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-item>
        <ion-toggle 
          [(ngModel)]="darkMode"
          (ionChange)="toggleDarkMode()"
          labelPlacement="start"
        >
          Modo Oscuro
        </ion-toggle>
      </ion-item>
  </ion-content>
  
  <ion-footer>
    <p class="footer-text">© 2025 MPA Seguridad Inteligente</p>
  </ion-footer>