ion-tabs {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

ion-toolbar {
  --background: var(--ion-color-primary);
 display: flex;
}
.verde{
  --background:#247E3E;
}


ion-content {
  --background: var(--app-background) !important;
  --color: var(--app-text-color) !important;
}

ion-tab-bar, ion-tab-button {
  --background: var(--app-menu-background) !important;
  --color:white;
}

ion-label {
  --color:white;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.general-view {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 12px;
  height: calc(100vh - 57px - 56px);
  padding: 16px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--app-section-background);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  padding: 16px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.section:hover {
  transform: scale(1.05);
}

.section h2 {
  margin-bottom: 8px;
  font-size: 20px;
  color: var(--app-primary-text);
  font-weight: bold;
}

.section p {
  font-size: 14px;
  color: var(--app-secondary-text);
}

.light ion-icon {
  font-size: 10px;
  transition: color 0.3s ease;
}

/* Luces */
.lights-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
    justify-content: center;
    cursor: pointer;

}
  
.light {
    --background-color: var(--app-light-off) !important;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color:var(--app-sensor);
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    outline: none;
}
  
.light.on {
    background-color:var(--app-light-on) !important;
    color: #ffffff
}
  
.light:focus {
    background-color: var(--app-light-off);
}
  
/* Puertas */
.doors-container {
  cursor: pointer;
  margin-top: 12px;
}
  
.door {
    background-color: var(--app-light-off);
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    font-size: 18px;
    color: white;
    transition: background-color 0.5s ease, transform 0.3s ease;
    outline: none;
}
  
.door.open {
    background-color: var(--app-door-open);
}
  
.door:focus {
    background-color: var(--app-door-closed);
}
  
.light ion-icon, .door ion-icon {
    font-size: 30px;
    transition: color 0.3s ease;
}

/* Elevadores */
.elevators-container {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  gap: 12px;
  cursor: pointer;
}

.elevator {
  background-color: var(--app-elevator-inactive);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  color: white;
  transition: background-color 0.4s ease-in-out, transform 0.3s ease;
  outline: none;
}

.elevator.active {
  background-color: var(--app-elevator-active);
  transform: scale(1.1);
}
.section section-1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.elevator:active {
  background-color: var(--app-elevator-inactive);
}

@keyframes fadeEffect {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .general-view {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .section:hover {
    transform: none;
  }

  .lights-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .doors-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .elevators-container {
    flex-direction: column;
    gap: 10px;
  }
  ion-content{

  }
  .section section-1{
    

  }
  section section-2{
   

  }
  section section-3{

  }
  .general-view {
  
    height: calc(100vh - 57px - 56px);
  }
  .light,
  .door,
  .elevator {
    align-items: center;
    font-size: 14px;
    padding: 15px;
  }

  .section h2 {
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .general-view {
    grid-template-columns: repeat(2, 1fr);
  }

  .lights-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .doors-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .elevators-container {
    flex-direction: row;
    gap: 15px;
  }

  .light,
  .door,
  .elevator {
    font-size: 15px;
    padding: 18px;
  }

  .section h2 {
    font-size: 19px;
  }
}
