<ion-header [translucent]="true">
  <ion-toolbar class="verde">
    <ion-buttons slot="start">
      <ion-menu-button style="color:white"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'MENU_LIGHT_CONTROL' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="general-view">
    <div class="section section-1">
        <div class="lights-container">
            <div class="light" *ngFor="let light of lightStatus; let i = index"
                 [class.on]="light"
                 (click)="toggleLight(i)">
                 <ion-icon [name]="light ? 'bulb' : 'bulb-outline'"></ion-icon>
            </div>
        </div>
    </div>
  </div>
</ion-content>



<ion-footer>
  <ion-tab-bar slot="fixed">
    <ion-tab-button [routerLink]="['/dashboard']">
      <ion-icon name="home" style="color:white"></ion-icon>
      <ion-label>{{ 'Dashboard' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/vista']">
      <ion-icon name="bulb" style="color:white"></ion-icon>
      <ion-label>{{ 'VISTA_GENERAL' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/historial']">
      <ion-icon name="list" style="color:white"></ion-icon>
      <ion-label>{{ 'HISTORIAL' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>

