<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>MPA</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle autoHide="false">
        <ion-item routerLink="/dashboard">🏠 Dashboard</ion-item>
        <ion-item routerLink="/sensores">📊 Sensores</ion-item>
        <ion-item routerLink="/historial">📜 Historial</ion-item>
        <ion-item *ngIf="isAdmin" routerLink="/control-luces">💡 Control de luces</ion-item>
        <ion-item routerLink="/configuracion">⚙️ Configuración</ion-item>
        <ion-item (click)="logout()">🚪 Cerrar sesión</ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<div id="main-content">
  <router-outlet></router-outlet>
</div>
