ion-tabs {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

ion-toolbar {
  --background: var(--app-footer-background);
}
.verde{
  --background:#247E3E;
}
ion-content {
  --background: var(--app-background);
  --color: var(--app-text-color);
}

ion-tab-bar,
ion-tab-button {
  background: var(--app-footer-background);
  color: white;
}

ion-label {
  color: white;
}
.lights-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
  justify-content: center;
  cursor: pointer;

}

.light {
  --background-color: var(--app-light-off) !important;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color:var(--app-sensor);
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
  outline: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.general-view {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 12px;
  height: calc(100vh - 57px - 56px);
  padding: 16px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--app-menu-shadow);
  border-radius: 10px;
  box-shadow: 0px 4px 8px var(--app-shadow);
  padding: 16px;
  text-align: center;
}


.section h2 {
  margin-bottom: 8px;
  font-size: 20px;
  color: var(--app-footer-background);
  font-weight: bold;
}

.section p {
  font-size: 14px;
  color: var(--app-text-color);
}

.light ion-icon {
  font-size: 10px;
  transition: color 0.3s ease;
  color: #cacaca;
  
}

/* Luces */
.lights-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 12px;
  padding: 10px;
  justify-content: center;

}

.light {
  background-color: var(--app-light-off);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  color:yellow;
  font-weight: bold;
  box-shadow: 0px 4px 6px var(--app-shadow);
  transition: background-color 0.3s ease, transform 0.2s ease;
  outline: none;
}

.light.on {
  background-color: var(--app-light-on);
}

.light:focus {
  background-color: var(--app-light-off);
}

/* Puertas */
.doors-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-top: 12px;
}

.door {
  background-color: var(--app-light-off);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  color: var(--app-text-color);
  transition: background-color 0.5s ease, transform 0.3s ease;
  outline: none;
}

.door.open {
  background-color: var(--app-door-open);
  animation: fadeEffect 0.3s ease-in-out;
}

.door:focus {
  background-color: var(--app-door-closed);
}

/* Elevadores */
.elevators-container {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  gap: 12px;
}

.elevator {
  background-color: var(--app-elevator-inactive);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  color: var(--app-text-color);
  transition: background-color 0.4s ease-in-out, transform 0.3s ease;
  outline: none;
}

.elevator.active {
  background-color: var(--app-elevator-active);
  transform: scale(1.1);
}

.elevator:active {
  background-color: var(--app-elevator-inactive);
}

@keyframes fadeEffect {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .general-view {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .lights-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .doors-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .elevators-container {
    flex-direction: column;
    gap: 10px;
  }
  ion-toolbar{
    --background:#247E3E;
  }
  ion-menu-button{
    color:white;
  }

  .light,
  .door,
  .elevator {
    font-size: 14px;
    padding: 15px;
  }

  .section h2 {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .general-view {
    grid-template-columns: repeat(2, 1fr);
  }

  .lights-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .doors-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .elevators-container {
    flex-direction: row;
    gap: 15px;
  }
  ion-toolbar{
    --background:#247E3E;
  }
 


  .light,
  .door,
  .elevator {
    font-size: 15px;
    padding: 18px;
  }

  .section h2 {
    font-size: 19px;
  }
}
