<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <ion-img src="/assets/MPAA.png" class="logo"></ion-img>

    <h2>Bienvenido de nuevo</h2>
    <p>Ingresa tus credenciales para continuar</p>

    <form #loginForm="ngForm" (ngSubmit)="login()" novalidate>
      <!-- Input de Usuario -->
      <div class="input-group">
        <ion-icon name="person-circle-outline"></ion-icon>
        <input [(ngModel)]="username" name="username" type="text" required placeholder="Usuario">
      </div>

      <!-- Input de Contraseña -->
      <div class="input-group">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <input [(ngModel)]="password" name="password" type="password" required placeholder="Contraseña">
      </div>

      <!-- Mensaje de error -->
      <div class="error-message" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

      <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>
    </form>

    <p class="register-link">
      ¿No tienes cuenta? <a (click)="goToRegister()" class="rea">Regístrate</a>
    </p>
  </div>
</ion-content>

