<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <ion-img src="/assets/MPAA.png" class="logo"></ion-img>

    <h2>Bienvenido de nuevo</h2>
    <p>Ingresa tus credenciales para continuar</p>

    <form #loginForm="ngForm" (ngSubmit)="login()" novalidate>
      <!-- Cambiamos username por email -->
      <div class="input-group">
        <ion-icon name="mail-outline"></ion-icon>
        <input [(ngModel)]="email" name="email" type="email" required placeholder="Correo electrónico">
      </div>

      <!-- Input de Contraseña (se mantiene igual) -->
      <div class="input-group">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <input [(ngModel)]="password" name="password" type="password" required placeholder="Contraseña">
      </div>

      <!-- Mensaje de error -->
      <div class="error-message" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

      <ion-button  type="submit" [disabled]="loading" class="trans">
        <ion-spinner *ngIf="loading"></ion-spinner>
        <span *ngIf="!loading">Iniciar Sesión</span>
      </ion-button>

      <ion-button (click)="loginWithGoogle()" class="logingo" >
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Google
      </ion-button>

      <p class="forgot-password" (click)="resetPassword()">
        ¿Olvidaste tu contraseña?
      </p>
    </form>

    <p class="register-link">
      ¿No tienes cuenta? <a (click)="goToRegister()" class="rea">Regístrate</a>
    </p>
  </div>
</ion-content>

<ion-footer>
  <p class="footer-text">© 2025 MPA Seguridad Inteligente</p>
</ion-footer>