<ion-app>
  <!-- Menú lateral -->
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ng-container *ngFor="let pagina of paginas">
          <ion-item *ngIf="!pagina.soloAdmin || rolUsuario === 'admin'" [routerLink]="pagina.url">
            {{ pagina.titulo }}
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Contenido principal -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
