<ion-app>
  <!-- Menú lateral -->
  <ion-menu *ngIf="mostrarMenu" side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>MPA</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list>
        <!-- Iteramos sobre las páginas y verificamos el rol del usuario para mostrar el menú -->
        <ion-item *ngFor="let pagina of paginas" [routerLink]="pagina.url" 
                  [ngClass]="{'hidden': pagina.soloAdmin && rolUsuario !== 'admin'}" 
                  (click)="handleMenuClick(pagina)">
          <ion-icon [name]="pagina.icono" slot="start" style="color:#247E3E"></ion-icon>
          <ion-label>{{ pagina.titulo }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <!-- Contenido principal -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>