<ion-header>
  <ion-toolbar>
    <ion-title>MPA - Seguridad Inteligente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <h1 class="welcome-title">¡Bienvenido a <span>MPA</span>!</h1>
    <ion-img src="/assets/MPAA.png" class="logo"></ion-img>
    <p class="styled-text">Monitoreo y Prevención de Accidentes</p>

    <ion-button expand="block" class="login-btn" (click)="goToLogin()">
      <ion-icon slot="start" name="log-in" ></ion-icon>
      Iniciar Sesión
    </ion-button>
    <ion-button expand="block" class="register-btn" fill="outline" (click)="goToRegister()">
      <ion-icon slot="start" name="person-add" ></ion-icon>
      Registrarse
    </ion-button>
</ion-content>

<ion-footer>
  <p class="footer-text">© 2025 MPA Seguridad Inteligente</p>
</ion-footer>
