ion-content {
  --background: linear-gradient(to bottom, #f0f0f0, #ffffff); 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 10px;
}

.welcome-container {
  text-align: center;
  background: rgba(255, 255, 255, 0.95);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 80%; 
  max-width: 400px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;
  height: 70vh; 
  transition: all 0.3s ease;
}

.welcome-container:hover {
  transform: scale(1.03);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 120px;
  height: auto;
  margin-bottom: 20px;
}

.welcome-title {
  font-size: 2rem;
  font-weight: 700;
  color: #247E3E;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}

.welcome-title span {
  color: #1f7a33;
  text-transform: uppercase;
  font-size: 2.3rem;
}

.styled-text {
  font-size: 1.4rem;
  color: #247E3E;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

ion-button {
  width: 100%;
  font-size: 1.2rem;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-bottom: 15px;
}

ion-button:hover {
  transform: translateY(-2px);
}

.login-btn {
  --background: #247E3E;
  color: white;
}

.register-btn {
  border: 2px solid #247E3E;
  color: #247E3E;
  background-color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.register-btn:hover {
  background-color: #247E3E;
  color: white;
}

ion-toolbar {
  --background: #247E3E;
}

ion-footer {
  background: #247E3E;
  text-align: center;
  padding: 15px;
}

.footer-text {
  color: white;
  font-size: 0.9rem;
  margin: 0;
}


@media (max-width: 600px) {
  .welcome-container {
    padding: 20px;
    margin-top: 5vh;
    height: auto; 
  }

  .logo {
    width: 100px; 
  }

  .welcome-title {
    font-size: 1.6rem; 
  }

  .styled-text {
    font-size: 1.2rem; 
  }

  ion-button {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .welcome-container {
    width: 90%; 
  }

  .welcome-title {
    font-size: 1.8rem; 
  }

  .styled-text {
    font-size: 1.3rem; 
  }

  ion-button {
    font-size: 1.1rem; 
  }
}







