ion-content {
  --background: var(--app-background);
}

.sensor-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding: 10px;
  justify-content: center;
}

.sensor-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.sensor-row .center {
  grid-column: span 3;
  justify-self: center;
  width: 100%;
  max-width: 400px;
}

.sensor-card {
  background: var(--app-card);
  padding: 15px;
  border-radius: 12px;
  box-shadow: var(--app-shadow);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-left: 4px solid var(--app-sensor);
  position: relative;
  overflow: hidden;
  min-height: auto;
}

.sensor-card:hover {
  transform: translateY(-5px);
  box-shadow: var(--app-sensor);
}

.sensor-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--app-sensor);
  text-align: center;
}

.sensor-info {
  display: flex;
  align-items: center;
  gap: 6px;
  background: var(--app-background-color);
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 8px;
  transition: background 0.3s ease-in-out;
  color: var(--app-text-color);
}

.card-back{
  color: var(--app-text-color);
}

.sensor-info:hover {
  background: var(--app-menu-shadow);
}

.sensor-info ion-icon {
  font-size: 18px;
  color: var(--app-sensor);
}

.sensor-info p {
  font-size: 14px;
  color: var(--sensor-value-color);
  margin: 0;
  font-weight: 600;
}

ion-footer {
  --background: var(--app-footer-background) !important;
}

ion-tab-bar {
  --background: var(--app-footer-background) !important;
}

ion-tab-button {
  --color: var(--ion-text-color);
  --color-selected:white;
}

ion-label {
  color: var(--ion-text-color);
}

ion-header, ion-toolbar {
  --background: var(--app-footer-background) !important;
  color: var(--ion-text-color) !important;
}

@media (max-width: 768px) {
  .sensor-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .sensor-row {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .sensor-card {
    padding: 12px;
  }

  .sensor-info ion-icon {
    font-size: 16px;
  }

  .sensor-info p {
    font-size: 13px;
  }
  ion-menu-button{
    color:white;
  }
  .sensor-card h2 {
    font-size: 14px;
  }
}
