/* Fondo blanco */
ion-content {
  --background: white;
}


.sensor-container {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 15px; 
  padding: 10px; 
  justify-content: center;
}


.sensor-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 15px; 
}

.sensor-row .center {
  grid-column: span 3; 
  justify-self: center;
  width: 100%; 
  max-width: 400px; 
  
}


.sensor-card {
  background: #ffffff;
  padding: 15px; 
  border-radius: 12px; 
  box-shadow: 0px 5px 10px #247E3E; 
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-left: 4px solid #247E3E; 
  position: relative;
  overflow: hidden;
  min-height: auto; 
}

.sensor-card:hover {
  transform: translateY(-5px);
  box-shadow: #247E3E;
}


.sensor-card h2 {
  font-size: 16px; 
  font-weight: bold;
  margin-bottom: 10px;
  color: #247E3E;
  text-align: center;
}


.sensor-info {
  display: flex;
  align-items: center;
  gap: 6px; 
  background: #F8F9FA;
  padding: 10px; 
  border-radius: 6px;
  margin-bottom: 8px; 
  transition: background 0.3s ease-in-out;
}


.sensor-info:hover {
  background: #E6F4EA;
}


.sensor-info ion-icon {
  font-size: 18px; 
  color: #247E3E;
}


.sensor-info p {
  font-size: 14px; 
  color: #333;
  margin: 0;
  font-weight: 600;
}


ion-footer {
  --background: #247E3E !important; 
}


ion-tab-bar {
  --background: #247E3E !important;
}

ion-tab-button {
  --color: white;
  --color-selected: #E6F4EA; 
}

ion-label {
  color: white;
}

ion-header, ion-toolbar {
  --background: #247E3E !important; 
  color: white !important;
}


@media (max-width: 600px) {
  .sensor-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .sensor-row {
    grid-template-columns: 1fr; 
    gap: 15px;
  }

  .sensor-card {
    padding: 12px; 
  }

  
  .sensor-info ion-icon {
    font-size: 16px; 
  }

 
  .sensor-info p {
    font-size: 13px; 
  }

  .sensor-card h2 {
    font-size: 14px; 
  }
}








