ion-header {
    --background: #247E3E;
  }
  
  ion-toolbar {
    --background: #247E3E;
  }
  
  ion-title {
    color: white;
  }
  
  ion-content {
    --background: white;
    --color: black;
  }
  
  ion-list-header {
    --background: black;
  }
  
  ion-menu::part(backdrop) {
    background-color: rgb(36, 126, 62);
  }
  
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
    box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
  }
  
  .color-menu {
    --background: #247E3E;
  }
  
  ion-item {
    margin-bottom: 10px;
    border-radius: 8px;
    --color: rgb(255, 255, 255);
    --background:rgb(255, 255, 255);
    cursor: pointer; /* Esto fuerza el cursor a ser una mano (puntero) */
<<<<<<< HEAD
  }
  
  ion-list{
    background:rgb(255, 255, 255);
  }

  ion-label {
    font-size: 16px;
  }
  
  ion-label h2 {
    font-size: 18px;
    color: #333;
  }
  
  ion-label p {
    font-size: 14px;
    color: #666;
    margin-top: 4px;
  }
  
=======
}
ion-tab-bar, ion-tab-button{
    background:#247E3E;
}
ion-label{
    color: white;
}
>>>>>>> 2100880d66abbb06a5c55be336a1b802a15175df
